<h2>Image: <%= @image.name %></h2>

<p><%= link_to "Edit tag", edit_image_tag_path(@image, @tag) %></p>
<p><%= link_to "Delete tag", image_tag_path(@image, @tag),
                        :data => {:confirm => "Are you sure?",
                                       :method => "delete"} %></p>

<p><%= link_to "Return to image", image_path(@image) %></p>
