.container {
  padding-top: 80px;
}

img{
  /* width: 20%; */
  max-height: 250px;
}
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}
.row::after {
  content: "";
  clear: both;
  display: flex;
}

.title {
  text-align:center;
}

.image-wrapper {
  display: flex;
}
