.container {
  padding-top: 40px;
}

img{
  padding: 10px;
  max-height: 250px;
}


.title {
  padding-left: 10px;
}

.image-wrapper {
  display: flex;
}

.nav-bar-top {
    min-width: 100%;
    background-color: #02654F;
    height: 75px;
}

.nav-bar-title {
    color: white;
    font-size: 28px;
    float: right;
    padding-right: 50px;
    padding-top: 15px;
}
