
<div class="user_content">
<h1>Images</h1>

<% if @images.any? %>
  <ul>
    <% @images.each do |image| %>
      <li><%= link_to image.name, image_path(image) %></li>
      <button type="button" id="add" name="upvote">Upvote this image!</button>
      <button type="button" id="subtract" name="downvote">Downvote this image!</button>
    <% end %>
  </ul>
<% else %>
  <p>There are no images yet.</p>
<% end %>

<% if current_user %>
<p><%= link_to "Create new image", new_image_path %></p>
</div>
<% end %>
