
<div class="user_content">
<h1>Images</h1>
<% if @images.any? %>
  <ul>
    <% @images.each do |image| %>
      <li><%= link_to image.name, image_path(image) %></li>
      <%= image_tag @image.flickr_picture %>
    <% end %>
  </ul>
<% else %>
  <p>There are no images yet.</p>
<% end %>

<% if current_user %>
<p><%= link_to "Create new image", new_image_path %></p>
</div>
<% end %>
